$accent: #fab719;
$dark:#131313;
$text: #fff;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: $dark;
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    letter-spacing: 0.15em;
    color: $text;
    // border: 1px solid forestgreen;
}

section {
    width: 100%;
    margin: 0 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1.3rem;
    line-height: 2rem;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

/********
NAV SECTION
********/

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
}

.epek-icon {
    margin-top: 1em;
    width: 40px;
    height: 40px;
}

/********
HERO SECTION
********/

#hero {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;

    background: url(../assets/EPEK-IATG.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#hero-content {
    width: 100%;
    text-align: center;
    font-family: "Open Sans Condensed";

    .hero-wordmark {
        width: 80%;
        max-width: 450px;
    }

    .hero-divide {
        width: 80%;
        height: 1px;
        background-color: $accent;
        margin: 1em auto;
        border-radius: 10px;
    }

    .hero-tagline {
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 0.2em;
    }
}






/********
VIDEO SECTION
********/
#video {
    background-color: #000;
}

.video-wrapper {
    width: 80%;
    margin: 1em auto;
}

.EPEK-video {
    // width:80%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 0 auto;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

/********
ABOUT & WORKSHOPS SECTIONS
********/

#about, #workshops {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}


.epek-bio, .workshops-text {
    h2 {
        margin-bottom:1.5rem;
    }
    max-width: 650px;
    padding: 3em;
    
}

.accent {
    color: $accent;
    font-weight: bold;
}

.btn{
    border: 1px solid $text;
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: $text;
}

.sub {
    font-size: 0.8rem;
}

/********
FOOTER SECTION
********/

footer {
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    justify-content: center;

    .footer-icon {
        height: 50%;
    }


}


.social-menu {
    display: none;
    margin: 1rem;

    a {
        i {
            font-size: 1.5em;
            margin-left: 0.25em;
            color: $text;

            &:hover {
                color: $accent;
            }
        }
    }
}


@media screen and (max-width: 600px) {

    .social-menu {
        display: block;

    }

    .icon-bar {
        display: none;
    }

}



/********
STICKY SOCIAL
********/

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}


.instagram {
    background: #FD1D1D;
    color: white;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}


.youtube {
    background: #bb0000;
    color: white;
}