* {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

body {
  background-color: #131313;
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  letter-spacing: 0.15em;
  color: #fff; }

section {
  width: 100%;
  padding-top: 1em;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 600; }

/********
NAV SECTION
********/
nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.epek-icon {
  margin-top: 1em;
  width: 40px;
  height: 40px; }

/********
HERO SECTION
********/
#hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../assets/epek_bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-bg-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; }

#hero-content {
  width: 100%;
  text-align: center;
  font-family: "Open Sans Condensed"; }
  #hero-content .hero-wordmark {
    width: 80%; }
  #hero-content .hero-divide {
    width: 80%;
    height: 1px;
    background-color: #fab719;
    margin: 1em auto;
    border-radius: 10px; }
  #hero-content .hero-tagline {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em; }

/********
AUDITIONS SECTION
********/
.auditions-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .auditions-info h1 {
    color: #fab719;
    text-transform: uppercase;
    letter-spacing: 0.5em; }
  .auditions-info h2 {
    font-size: 14px; }

/********
VIDEO SECTION
********/
.video-wrapper {
  width: 80%;
  margin: 1em auto; }

.EPEK-video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin: 0 auto; }
  .EPEK-video iframe {
    width: 100%;
    height: 100%;
    position: absolute; }

/********
ABOUT SECTION
********/
#about {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.epek-founders {
  width: 100%; }
  .epek-founders .founders-photo {
    width: 100%; }

#epek-bio {
  width: 90%;
  height: 100%;
  padding: 3em; }

.epek-mantra {
  color: #fab719;
  font-weight: bold; }

/********
AUDITIONS SECTION
********/
#auditions {
  margin-bottom: 2em; }

.section-title {
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.3em; }
  .section-title .auditions-tag {
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    line-height: 2.5em;
    padding: 0 1em;
    display: inline-block;
    letter-spacing: 0.3em; }
  .section-title .auditions-tag:before,
  .section-title .auditions-tag:after {
    content: "";
    height: 2px;
    /* any width higher than the widest part of the page */
    width: 1000px;
    position: absolute;
    top: 50%;
    display: block;
    background-color: #fab719; }
  .section-title .auditions-tag:before {
    left: -1000px; }
  .section-title .auditions-tag:after {
    right: -1000px; }

.auditions-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase; }
  .auditions-content .auditions-date {
    color: #fab719;
    font-size: 2.5em; }
  .auditions-content .auditions-time {
    font-size: 1.5em; }

.auditions-map {
  text-align: left;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin: 2em auto 0 auto; }
  .auditions-map iframe {
    width: 100%;
    height: 100%;
    position: absolute; }

/********
FOOTER SECTION
********/
footer {
  background-color: #131313;
  height: 75px;
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .footer-icon {
    height: 40px; }
  footer .social-menu a i {
    font-size: 2em;
    margin-left: 0.25em;
    color: #fff; }
    footer .social-menu a i:hover {
      color: #fab719; }

/*# sourceMappingURL=style.css.map */