* {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

body {
  background-color: #131313;
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  letter-spacing: 0.15em;
  color: #fff; }

section {
  width: 100%;
  margin: 0 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  line-height: 2rem; }

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 600; }

/********
NAV SECTION
********/
nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed; }

.epek-icon {
  margin-top: 1em;
  width: 40px;
  height: 40px; }

/********
HERO SECTION
********/
#hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../assets/EPEK-IATG.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-bg-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; }

#hero-content {
  width: 100%;
  text-align: center;
  font-family: "Open Sans Condensed"; }
  #hero-content .hero-wordmark {
    width: 80%;
    max-width: 450px; }
  #hero-content .hero-divide {
    width: 80%;
    height: 1px;
    background-color: #fab719;
    margin: 1em auto;
    border-radius: 10px; }
  #hero-content .hero-tagline {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em; }

/********
VIDEO SECTION
********/
#video {
  background-color: #000; }

.video-wrapper {
  width: 80%;
  margin: 1em auto; }

.EPEK-video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin: 0 auto; }
  .EPEK-video iframe {
    width: 100%;
    height: 100%;
    position: absolute; }

/********
ABOUT & WORKSHOPS SECTIONS
********/
#about, #workshops {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.epek-bio, .workshops-text {
  max-width: 650px;
  padding: 3em; }
  .epek-bio h2, .workshops-text h2 {
    margin-bottom: 1.5rem; }

.accent {
  color: #fab719;
  font-weight: bold; }

.btn {
  border: 1px solid #fff;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #fff; }

.sub {
  font-size: 0.8rem; }

/********
FOOTER SECTION
********/
footer {
  background-color: #000;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  footer .footer-icon {
    height: 50%; }

.social-menu {
  display: none;
  margin: 1rem; }
  .social-menu a i {
    font-size: 1.5em;
    margin-left: 0.25em;
    color: #fff; }
    .social-menu a i:hover {
      color: #fab719; }

@media screen and (max-width: 600px) {
  .social-menu {
    display: block; }

  .icon-bar {
    display: none; } }
/********
STICKY SOCIAL
********/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px; }

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000; }

.instagram {
  background: #FD1D1D;
  color: white; }

.facebook {
  background: #3B5998;
  color: white; }

.twitter {
  background: #55ACEE;
  color: white; }

.youtube {
  background: #bb0000;
  color: white; }

/*# sourceMappingURL=style.css.map */